<h1>Reddit</h1>
<% @posts.sort_by(&:votes).reverse.each do |post| %>

  <%= link_to(post, class: 'up-arrow', method: 'post') do %>
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
  <% end %>

  <h3><%= post.title %> - Upvotes:<%= post.votes %></h3>

  <p><%= truncate_post post.content %></p>

<% end %>
