@import "bootstrap-sprockets";
@import "bootstrap";
@import 'posts';

.page-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.alert {
  background: #C0392B;
  border: 1px solid darken(#C0392B, 20%);
  padding: 1em;
  color: #ECF0F1;
}

.notice {
  background: #27AE60;
  border: 1px solid darken(#27AE60, 20%);
  padding: 1em;
  color: #ECF0F1;
}
